@font-face {
  font-family: 'Respective';
  src: url('../fonts/respective/Respective.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Respective-Italic';
  src: url('../fonts/respective/Respective_Italic.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Carton';
  src: url('../fonts/Carton-Slab.otf');
  font-weight: 500;
  font-style: normal;
}

::selection {background: #652241; color: #fff}

body {
	background-color: #f5efee !important;
	color: #675454 !important;
	height: 100%;
	width: 100%;
}

a {
  color: #544545 !important;
}
a:hover, a:focus {
  color: #652241 !important;
}
p {
	line-height: 1.6 !important;
}

div {
	display: block;
}

.center {
	text-align: center !important;
}

.burgundy {color: #652241}
.ash {color: #7a6667}
.navy {color: #1f2035}

.align-right {text-align: right !important;}
.align-left {text-align: left !important;}
.align-center  {text-align: center !important;}
.align-justify {text-align: justify !important;}

/* BUTTONS */

.btn-primary {
  color: #f5efee !important;
  background-color: #652241 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #40192e !important;
  background-color: #f5efee !important;
  border-color: #f5efee !important;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background: #f5efee !important;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #f5efee !important;
}

.btn-inverse {
  color: #652241 !important;
  background-color: #f5efee !important;
}
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #40192e !important;
  background-color: #f5efee !important;
  border-color: #f5efee !important;
}
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background: #f5efee !important;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #f5efee !important;
}




.select .caret {
	border-bottom-color: #652241 !important;
	border-top-color: #652241 !important;
}

.form-control:-moz-placeholder {
  color: #7a6667 !important;
}
.form-control::-moz-placeholder {
  color: #7a6667 !important;
}
.form-control:-ms-input-placeholder {
  color: #7a6667 !important;
}
.form-control::-webkit-input-placeholder {
  color: #7a6667 !important;
}
.form-control.placeholder {
  color: #7a6667 !important;
}


/* ============ WEB STYLE ============== */

/*@media only screen and (min-width: 960px) {*/
	.couple {
		background: url(../images/1.jpg) #f5efee no-repeat center center !important;
		-webkit-background-size: cover;
	 	-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		height: 650px;
		background-size: 100% auto;
		/*display:-webkit-box;
	  	-webkit-box-orient:vertical;
	  	-webkit-box-align:center;
	  	-webkit-box-pack:center;*/
	}

	.banner {
		background: #f5efee;
		width: 200px;
		height: 300px;
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
		margin-right: 100px;
		text-align: center !important;
		font-family: 'Respective' !important;
		line-height: 60px;
		font-size: 50px;
		padding-top: 30px;
		padding-bottom: 30px;
		-webkit-box-shadow: 0px 0px 40px -7px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 40px -7px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 40px -7px rgba(0,0,0,0.75);
	}
	.banner a {color: #652241 !important;}
	.banner>i {font-size: 30px;}
	.date {font-family: 'Lato-Light'; font-size: 18px; padding-top: 20px;}

	.navigate {
		position: fixed;
		z-index: 9999;
		margin-top: 250px;
		font-size: 2.75rem;
		opacity: 0.6;
	}
	.navigate ul {
		list-style: none !important;
	}

	.profile {
		margin-top: 70px;
		min-height: 800px;
		height: 100%
	}

	.title {
		font-family: 'Respective';
		padding: 10px;
	}

	.photo {
		display: block;
	}

	.photo img {
		border-radius: 100px; 
		width: 200px; 
		height: 200px;
		-webkit-box-shadow: 0px 0px 60px -7px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 60px -7px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 60px -7px rgba(0,0,0,0.75);
		margin-bottom: 10px;
	}

	.savethedate {
		margin: 50px 0 50px 0;
		min-height: 1000px;
		height: 100%;
		background-color: #401925;
		color: #e2d9d0;
		-webkit-box-shadow: 0px 0px 90px -7px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 90px -7px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 90px -7px rgba(0,0,0,0.75);
	}

	.date-title {
		font-size: 10rem;
		padding-top: 80px;
		font-family: 'Carton';
		text-shadow: 0 0 10px #000;
	}

	.schedule {
		font-family: 'Lato-Light';
		font-style: italic;
	}

	.rsvp {
		margin: 50px;
		min-height: 600px;
		height: 100%;
		/* Internet Explorer 10 */
		display:-ms-flexbox;
		-ms-flex-pack:center;
		-ms-flex-align:center;

		/* Firefox */
		display:-moz-box;
		-moz-box-pack:center;
		-moz-box-align:center;

		/* Safari, Opera, and Chrome */
		display:-webkit-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;

		/* W3C */
		display:box;
		box-pack:center;
		box-align:center;
	}

	.login-form {background: #7a6667 !important}
	.login-form:before {
		border-color: transparent #7a6667 transparent transparent !important;
		content: '';
		border-style: solid;
		border-width: 12px 12px 12px 0;
		height: 0;
		position: absolute;
		left: -12px;
		top: 35px;
		width: 0;
		-webkit-transform: rotate(360deg);
	}
	.login-form .control-group {
		margin-bottom: 6px;
	    position: relative;
	}
	.login-form .login-field {
	    border-color: transparent;
	    background-color: #f5efee !important;
	    color: #7a6667 !important;
	    font-size: 17px;
	    text-indent: 3px;
	}
	.login-form .login-field:focus {
	    border-color: #7a6667 !important;
	}
	.login-form .login-field:focus + .login-field-icon {
	  color: #7a6667 !important;
	}
	.login-form .login-field-icon {
	  color: #7a6667 !important;
	  font-size: 16px;
	  position: absolute;
	  right: 13px;
	  top: 9px;
	  -webkit-transition: 0.25s;
	  transition: 0.25s;
	}
	.login-link {
	  color: #e2d9d0 !important;
	  display: block;
	  font-size: 13px;
	  margin-top: 15px;
	  text-align: center;
	}


/*}*/



















